<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>All posts</h1>
    <a href="/add">Add post</a>
    {% for post in posts %}
    <h3>{{post.title}}</h3>
    <p>{{post.detail}}</p>
    <p><a href="/update/{{post.id}}">Update</a></p>
    <p>
      <a
        onclick="return confirm('Are you sure to delete?')"
        href="/delete/{{post.id}}"
        >Delete</a
      >
    </p>
    <hr />
    {% endfor %}
  </body>
</html>
